name: Deploy Laravel Sail (Local)
on:
  push:
    branches: [ "main" ]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy (Local) con Sail
        run: |
          set -e
          cd /home/pnagiotis/development/laravel/blog_4
          git pull
          ./vendor/bin/sail down
          ./vendor/bin/sail up -d --build
          for i in {1..30}; do
            if ./vendor/bin/sail exec mysql mysqladmin ping -h 127.0.0.1 -u sail -ppassword --silent; then
              echo "MySQL is ready"
              break
            fi
            echo "Waiting for MySQL..."
            sleep 2
          done
          ./vendor/bin/sail artisan migrate --force